Source: nrkfs
Section: net
Priority: optional
Maintainer: Sveinung Kvilhaugsvik <sveinung84@users.sourceforge.net>
Uploaders: Erlend Klakegg Bergheim <erlend@averlend.com>
Build-Depends: debhelper (>= 5), cdbs, python-support (>= 0.4.49), python
Standards-Version: 3.8.3
Homepage: http://blog.averlend.com/2009/05/23/nrk-som-filsystem/

Package: nrkfs
Architecture: all
Depends: python-fuse,
         python-beautifulsoup,
         python,
         ${python:Depends},
         ${misc:Depends}
Description: Get access to NRK as a filesystem
 Mount the videos from the Norwegian broadcaster NRK as a file system.
